<html>
    <head>
        <title>Le Blog de Leslie</title>
    </head>
    <body>
    <h1>Premier titre</h1> 
    	<h2>Test</h2> 
        <p><strong>Hi there! </strong> </p>
        <br />
        <p>It works!</p>
        <p>Tu veux apprendre à créer ton site internet? Vas voir ce site!</p>
        <a href="https://djangogirls.org">link</a>

        <ul><li>Python</li><li>Django</li><li>GitHub</li><li>HTML</li><li>CSS</li><li>...</li></ul>
       

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>

