<html>
    <head>
        <title>Le Blog de Leslie</title>
    </head>
    <body>
    <h1>titre essai</h1> 
    	<h2>Test</h2> 
        <p><strong>Hi there! </strong> </p>
        <br />
        <p>It works!</p>
        <p>Tu veux apprendre à créer ton site internet? Vas voir ce site!</p>
        <a href="https://djangogirls.org">link</a>

        <ul><li>Python</li><li>Django</li><li>GitHub</li><li>HTML</li><li>CSS</li><li>...</li></ul>


        <div>
            {% for post in posts %}
   			{<div>
        <p>publié: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    		</div>
			{% endfor %}
        </div>
    </body>
</html>

